/* decathlon general button */
.lp-btn {
	background:#0082C3;
	color:#fff;
	width: auto;
	height: 40px;
	line-height: 40px;
	position: relative;
	display: inline-block;
	text-align: center;
	border-radius: 3px;
	font-size: 13px;
	padding: 0 40px 0 20px;
	text-transform: uppercase;
	font-family: $secondary-font;
	overflow: hidden;
	font-weight: 600;
	min-width: 160px;
	&.small-btn {
		min-width: 100px;
		height: 30px;
		line-height: 30px;
		font-size: 12px;
		padding: 0 20px 0 10px;
		&:after {
			right: 0;
		}
		&::before {
			height: 400%;
			top: 38px;
			right: -10px;
			left: initial;
		}
		&:hover {
			&:before {
				top: -20px;
				right: 0;
				left: initial;
			}
		}
	}
	&.yellow-btn {
		background-color: #feea28;
		color: #13022d;
		&:before {
			background-color: #fcd831;
		}
  }
  &.outline-btn {
    border: solid 1px white;
		background-color: transparent;
		&:before {
			background-color: rgba(256,256,256,.4);
		}
	}
	span {
		position: relative;
		z-index: 1;
	}
	&:after {
		content:'\3009';
		font-weight: 700;
		font-size: 10px;
		position: absolute;
		right: 5px;
		height: 100%;
		top: 0;
		transform: scale(2,1);
	}
	&:before {
		content: '';
		background-color: #006da4;
		position: absolute;
		z-index: 0;
		width: 170%;
		height: 190%;
		transform: skewY(-10deg);
		top: 30px;
		left: 40px;
		transition: all .3s;
	}
	&:hover {
		&:before {
			top: -11px;
			left: -110px;
		}
	}
}