/*******************************************
  Transition e Transform
********************************************/
@mixin transition($transition) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin transform($transform) {
  -ms-transform:      $transform;
  -moz-transform:    $transform;
  -o-transform:      $transform;
  -webkit-transform: $transform;
  transform:         $transform;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  -ms-border-radius:     $radius;
  border-radius:         $radius;
}

@mixin gradient($primaria, $secundaria) {
  background: -webkit-radial-gradient($primaria, $secundaria); /* Safari 5.1-6.0 */
  background: -o-radial-gradient($primaria, $secundaria); /* Opera 11.6-12.0 */
  background: -moz-radial-gradient($primaria, $secundaria); /* Firefox 3.6-15 */
  background: radial-gradient($primaria, $secundaria); /* Standard syntax */
}

@mixin gradient-linear($primaria, $secundaria) {
  background: -webkit-linear-gradient($primaria, $secundaria); /* Safari 5.1-6.0 */
  background: -o-linear-gradient($primaria, $secundaria); /* Opera 11.6-12.0 */
  background: -moz-linear-gradient($primaria, $secundaria); /* Firefox 3.6-15 */
  background: linear-gradient($primaria, $secundaria); /* Standard syntax */
}

/* animacoes */

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 350px 0; }
}

/*******************************************
  Define element size (width & height)
********************************************/
@mixin element-sizes($width, $height) {
  width: $width;
  height: $height;
}

/*******************************************
  Pseudo elements (::after & ::before)
********************************************/
@mixin pseudo-element($content, $position, $top, $right, $bottom, $left) {
  content: $content;
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

/*******************************************
  All background url necessary properties
********************************************/
@mixin adapt-image($repeat, $size, $position) {
  background-repeat: $repeat;
  background-size: $size;
  background-position: $position;
}

/*******************************************
  Centering element on page
********************************************/
@mixin element-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin align-element($pos) {
  position: $pos;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*******************************************
  Arrows
********************************************/
@mixin create-arrow($type, $width, $height, $color) {
  @if $type == 'bottom' {
    border-top: $width solid $color;
    border-left: $height solid transparent;
    border-right: $height solid transparent;
  } @else if $type == 'top' {
    border-bottom: $width solid $color;
    border-left: $height solid transparent;
    border-right: $height solid transparent;
  } @else if $type == 'left' {
    border-top: $height solid transparent;
    border-bottom: $height solid transparent;
    border-right: $width solid $color;
  } @else if $type == 'right' {
    border-top: $height solid transparent;
    border-bottom: $height solid transparent;
    border-left: $width solid $color;
  }
}

/*******************************************
  User selection
********************************************/
@mixin user-select($val) {
  -webkit-touch-callout: $val;
  user-select: $val;
}

/*******************************************
  Background opacity | hex to rgba
********************************************/
@mixin background-opacity($color, $opacity: 0.3) {
    background-color: $color; /* The Fallback */
    background-color: rgba($color, $opacity);
  }
/*******************************************
  Arrow
********************************************/

@mixin arrow($width, $height){
  width: $width;
  height: $height;
  margin-left: 10px;
  display: inline-block;  
  background-size: $width $height;
  transition: transform .15s ease-out;
}
