body, html {
	font-family: $primary-font;
	margin: 0;
	padding: 0;
}

body, body * {
	font-smooth: always;
	-webkit-font-smoothing: always;
	-moz-osx-font-smoothing: always;
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	cursor: pointer;
}

*, :after, :before {
    box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
}