/* media sizes */
$small:   768px;
$medium: 1024px;
$large:  1100px;

/* decathlon general colors */
$blue:                  #0082c3;
$yellow:                #ffea29;

/* decathlon general fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i|Roboto:400,400i,700,700i');

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;